 
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


    :root {
    --clr-gray-clr: #b1b1b1;
    --clr-dark-clr: #424242;
    --clr-white-clr: #d7d7d7;
    --clr-darkblue-clr: #001f3f;
    --clr-blue-clr: #2520DE;
    --clr-darkgray-clr: #26273b;
    --clr-lightblue-clr: #6C68ff;
    }

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    }

    .main-container {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, var(--clr-darkblue-clr), var(--clr-darkblue-clr));
    }

    /* header {
    width: 100%;
    max-width: 1200px;
    height: 15%;
    background-color: red;
    margin: auto;
    } */

    /* Header Start  */

    header {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    }

    header .logo {
    text-decoration: none;
    font-weight: 500;
    color: var(--clr-white-clr);
    }

    header input {
    display: none;
    }

    nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding: 10px 40px;
    }

    nav ul li a {
    text-decoration: none;
    color: var(--clr-lightblue-clr);
    font-weight: 500;
    transition: 0.3s;
    }

    /* nav ul a:hover {
    text-shadow: 2px 2px 30px rgba(108, 104, 255, 1);
    color: rgba(108, 104, 255, 1);
    } */

    .burger {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: none;
    }


    .burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    background: var(--clr-lightblue-clr);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    }

    .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
    }

    /* Header End */

    .row {
    height: 85%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    }

    .social-links {
        position: absolute;
        left: -60px;
        top: 170px;
    }

    .social-links ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        gap: 10px;
    }

    .social-links ul li {
        border: 2px solid var(--clr-lightblue-clr);
        background: linear-gradient(to right, rgba(108, 104, 255, .1) 1%, transparent 40%,transparent 60% , rgba(108, 104, 255, .1) 100%);
        color: var(--clr-lightblue-clr);
        box-shadow: inset 0 0 10px rgba(108, 104, 255, .4), 0 0 9px 3px rgba(108, 104, 255, .1);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .social-links ul li::before {
        content: "";
        position: absolute;
        left: -4em;
        width: 4em;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(37, 32, 222, .1) 40%,rgba(37, 32, 222, .1) 60% , transparent 100%);
    }

    .social-links ul li:hover::before {
        transform: translateX(15em);
    } 


    .social-links ul li:hover {
        color: rgb(37, 32, 222);
        box-shadow: inset 0 0 10px rgba(37, 32, 222, .6), 0 0 9px 3px rgba(37, 32, 222, .2);
    }

    .main-description {
    max-width: 600px;
    padding: 20px;
    margin: 0 10px 20px 10px;
    }

    .main-description > h3 {
    color: var(--clr-lightblue-clr);
    }

    .main-description > h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--clr-lightblue-clr);
    }

    .main-description > p {
    color: var(--clr-gray-clr);
    margin-bottom: 10px;
    line-height: 1.5;
    }

    .btn-links button {
    margin-top: 20px;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--clr-lightblue-clr);
    background: linear-gradient(to right, rgba(108, 104, 255, .1) 1%, transparent 40%,transparent 60% , rgba(108, 104, 255, .1) 100%);
    color: var(--clr-lightblue-clr);
    box-shadow: inset 0 0 10px rgba(108, 104, 255, .4), 0 0 9px 3px rgba(108, 104, 255, .1);
    }

    .btn-links button:hover {
        color: rgb(37, 32, 222);
        box-shadow: inset 0 0 10px rgba(37, 32, 222, .6), 0 0 9px 3px rgba(37, 32, 222, .2);
    }

    .btn-links button::before {
        content: "";
        position: absolute;
        left: -4em;
        width: 4em;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(37, 32, 222, .1) 40%,rgba(37, 32, 222, .1) 60% , transparent 100%);
    }

    .btn-links button:hover::before {
        transform: translateX(15em);
    }

    .main-profile-pic {
        max-width: 300px;
        min-width: 300px;
        margin: -60px 10px;
        background-color: rgba(37, 32, 222, .1);
        transition: .3s ease-out;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


    .main-profile-pic:hover {
        transform: scale(.9);
    }

    .main-profile-pic img {
    width: 100%;
    height: 100%;
    border: 2px solid var(--clr-lightblue-clr); 
    border-radius: 50%;
    filter: drop-shadow(0 0 50px rgba(108, 104, 255, .9));
    animation: glowing 5s ease infinite;
    }


    @keyframes glowing {
    50% {
    filter: drop-shadow(0 0 0 rgba(108, 104, 255, .04));
    }
    }

    @media (min-width: 481px) and (max-width: 767px) {

        .burger {
            z-index: 100;
        }
    header nav {
        position: absolute;
        top: 15%;
        flex-direction: column;
        width: 100%;
        right: 0;
        top: 0;
        padding: 40px;
        z-index: 10;
        height: calc(100% - 1%);
        display: none;
        background: linear-gradient(45deg, var(--clr-darkblue-clr), var(--clr-darkblue-clr));
        transition: all .3s ease-in-out;
    }

    nav ul{
        flex-direction: column;
    }

    #burger:checked + label + nav {
        display: flex;      
    }

    .burger {
        display: block;
    }

    input[type="checkbox"]:checked ~ .burger >  span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 1px;
        left: 5px;
    }

    input[type="checkbox"]:checked ~ .burger > span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    input[type="checkbox"]:checked ~ .burger > span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 20px;
        left: 5px;
    }

    .row {
        flex-direction: column-reverse;
    }

    .main-profile-pic {
        transform: scale(.7);
    }

    .main-profile-pic:hover {
        transform: scale(.6);
    }

    .main-description > h3 {
        font-size: 16px;
        text-align: start;
        text-align: center;
    }

    .main-description > h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .main-description > p {
        text-align: justify;
        font-size: 14px;            
    }
    .btn-links {
        text-align: center;
    }

    .btn-links button {
        
        transform: scale(.9);
    }

    }
